<div{{ attributes.addClass(classes) }}>
  <div class="containerised">
    <div class="row">
      <div class="col-sm-12">
        <div class="chart-billboard">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
