{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
{%
  set classes = [
    'form-control',
  ]
%}
{% if attributes.hasClass('error') %}
  {% set classes = classes|merge(['is-invalid']) %}
{% endif %}
<div{{ wrapper_attributes.addClass(classes).removeClass('form-control') }}>
  <textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
</div>
