{% set chart_id = 'paragraph-geochart-' ~ id %}

<div{{ attributes.addClass(classes) }}>
  <div class="containerised">
    {% block content %}
      {{ content }}
    {% endblock %}
    <div{{ create_attribute().setAttribute('id', chart_id).addClass('geochart') }}></div>
  </div>
</div>
