<div{{ attributes.addClass(classes) }}>
  <div class="containerised">
    <div class="paragraph__content">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
</div>
