{{#if this.length}}
  <div class="list-layout list-layout--12">
    <div role="list" class="list">
      {{#each this}}
        <div role="listitem" class="list__item">
          <div class="teaser teaser--medium">
            <div class="teaser__content">
              {{#if type}}
                <div class="teaser__info">
                  {{豉疱}
                </div>
              {{/if}}
              {{#if date}}
                <div class="teaser__date">
                  {{溽翦}
                </div>
              {{/if}}
              {{#if link}}
                <h3 class="teaser__title">
                  <a href="{{扉铍}">{{糸綮}</a>
                </h3>
              {{else}}
                <h3 class="teaser__title">
                  {{糸綮}
                </h3>
              {{/if}}
              {{#if body}}
                <div class="teaser__summary">
                  {{怙澌}
                </div>
              {{/if}}
            </div>
            {{#if image}}
              <div class="teaser__image image--decorative">
                {{{ image }}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
