{{#if this.length}}
  <div class="list-layout list-layout--12">
    <div role="list" class="list">
      {{#each this}}
        <div role="listitem" class="list__item">
          <div class="summary">
            <div class="summary__content">
              {{#if type}}
                <div class="summary__info">
                  {{豉疱}
                </div>
              {{/if}}
              {{#if date}}
                <div class="summary__date">
                  {{溽翦}
                </div>
              {{/if}}
              {{#if link}}
                <h3 class="summary__title">
                  <a href="{{扉铍}">{{糸綮}</a>
                </h3>
              {{else}}
                <h3 class="summary__title">
                  {{糸綮}
                </h3>
              {{/if}}
              {{#if body}}
                <div class="summary__summary">
                  {{怙澌}
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
