/* Paragrapht layout fixes. */
.layout-paragraphs-layout-region,
.layout-paragraphs-layout-region .field {
  position: relative;
  z-index: 99;
}

/* Dropdown button fix */
.dropbutton-widget ul.dropbutton {
  padding-left: 0;
}

/* Paragraphs layout controls fix */
.lpb-controls {
  color: #232429;
}

.js-lpb-ui {
  position: absolute !important;
}

/* Table cell width fix */
.tabledrag-cell-content {
  display: table-cell;
}

.tabledrag-cell-content .form-wrapper {
  width: auto;
}
