/* Paragrapht layout fixes. */
.layout-paragraphs-layout-region,
.layout-paragraphs-layout-region .field {
  position: relative;
  z-index: 99;
}

/* Dropdown button fix */
.dropbutton-widget ul.dropbutton {
  padding-left: 0;
}

/* Fix for the overflowing content in Claro. */
.layout-node-form {
  grid-template-columns: minmax(0, 3fr) minmax(22.5rem, 1fr);
}

/* Paragraphs layout controls fix */
.lpb-controls {
  color: #232429;
}

.js-lpb-ui {
  position: absolute !important;
}

/* Table cell width fix */
.tabledrag-cell-content {
  display: table-cell;
}

.tabledrag-cell-content .form-wrapper {
  width: auto;
}

/* CKEditor */
/* Hide inapplicable styles */
.ck.ck-style-panel .ck-style-grid .ck-style-grid__button.ck-disabled {
  display: none;
}

/* Media view mode */
.ck .media-entity--type-image.media-entity--view-mode-half,
.ck .media-entity--type-image.media-entity--view-mode-half-wide {
  max-width: unset;
}

/* Override alignment */
.ck-content .drupal-media-style-align-right .align-right {
  margin-left: unset;
}

.ck-content .drupal-media-style-align-left .align-left {
  margin-right: unset;
}
