/* Paragrapht layout fixes. */
.layout-paragraphs-layout-region,
.layout-paragraphs-layout-region .field {
  position: relative;
  z-index: 99;
}

/* Dropdown button fix */
.dropbutton-widget ul.dropbutton {
  padding-left: 0;
}

/* Fix for the overflowing content in Claro. */
.layout-node-form {
  grid-template-columns: minmax(0, 3fr) minmax(22.5rem, 1fr);
}

/* Paragraphs layout controls fix */
.lpb-controls {
  color: #232429;
}

.js-lpb-ui {
  position: absolute !important;
}

/* Table cell width fix */
.tabledrag-cell-content {
  display: table-cell;
}

.tabledrag-cell-content .form-wrapper {
  width: auto;
}

/* Ckeditor fixes */
figure.drupal-media.ck-widget {
  width: 100%;
}
